:root{
    --main_color: #2E4F21;
    --second-backgroud: #d2f8dc;
    --hero-backgroud: #a0f1bd;
    --alternative-text: #fff;
    --footer-text: #D5E4D0;
    --main-text: #7D9276;
}
body{
    color: var(--main_color);
    font-family: 'Work Sans';
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*HEADER SECTION*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
    padding-inline: 15px;
    padding-block: 20px;
    background-color: var(--hero-backgroud);
    align-items: center;

}
.title_header{
    font-size: 1.2rem;
}
.menu_services{
    padding-inline-end: 10px;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: -0.45%;
}
.menu_button{
    padding: 15px;
    background-color: var(--main_color);
    border-radius: 25px;
    color: var(--alternative-text);
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: -4.5%;
    transition: background-color 0.3s;
}
.menu_button:hover{
    background-color: var(--hero-backgroud);
    color: var(--main_color);

}
.hero__button__active:hover{
    background-color: var(--alternative-text);
    color: var(--main_color);
}
.main_block{
    flex: 1 1 auto;
}

/*HERO SECTION*/
.header__section{
     background-color: var(--hero-backgroud);
    padding-inline: 16px;
    padding-block: 40px;
}
.world__img img{
    width: 100%;
    text-align: center;
    object-fit: cover;
}
.title__body{
    padding-block-start: 40px;    
}
.title__block{
    margin-block-end: 16px;    
}
.title{
    font-size: 40px;
    letter-spacing: -8%; 
}
.title_subscription{
    font-size: 16px;
    margin-block-end: 40px;
     line-height: 1.1;
     letter-spacing: -0.45%;
}
@media (min-width:799px){
    .header__section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 32px;
        padding-block: 100px;
        padding-inline: 24px;
    }
    .world__img{
        flex-basis: 38%;
    }
    .title__body{
        flex-basis: 62%;
    }
    .title{
        font-size: 58px;
    }
}
@media (min-width:1280px){
    .title{
        font-size: 120px;
    }
        .world__img{
        flex-basis: 38.24%;
    }
    .title__body{
        flex-basis: 61.76%;
    }
}
.services{
    padding-block-start: 120px;
    padding-block-end: 100px;
    text-align: center;
    padding-inline: 16px;

}
.services_title{
    font-size: 32px;
    line-height: 1.05;
    letter-spacing: -7%;
}
.services_description{
    padding-block-start: 28px;
    padding-block-end: 28px;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: -0.45%;
}
.reasons{
    margin-inline: 16px;
    margin-block-end: 16px;
    border-radius: 15px;
    padding-inline: 16px;
    padding-block: 40px;
    background-color: var(--second-backgroud);
}

.reasons_img{
    text-align: center;
    padding-block-end: 70px;
}
.reasons_title{
    font-size: 28px;
    line-height: 1.05;
    letter-spacing:  -4.5%;
    padding-block-end: 24px;
}
.reasons_description{
    font-size: 16px;
    line-height: 1.1;
    padding-block-end: 24px;
}
.reasons_labels{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: space-between;
    padding-inline-end: 33px;
}
.reasons_label{
    flex: 1 0 33%;
    text-align: center;
    border-radius: 8px;
    background-color: var(--alternative-text);
    padding-inline: 10px;
    padding-block: 10px;
    font-size: 12px;
    transition: background-color 0.3s;
}
.reasons_label:hover{
    background-color: var(--hero-backgroud);
}

@media (min-width:799px){
    .reasons{
        display: flex;
        flex-direction: row;
        padding-block: 64px;
        padding-inline: 50px;
        gap: 50px;
    }

    .reasons_img{
        flex-basis: 50%;
    }
    .reasons_body{
        flex-basis: 50%;
       
    }
    .reasons__middle{
        flex-direction: row-reverse;
    }
    .services_title{
        font-size: 48px;
    }
    .reasons_title{
        font-size: 34px;
    }
    .reasons_description{
        padding-block-end: 54px;
    }
}
@media (min-width:1280px){
    .services_title{
        font-size: 60px;
    }
     .reasons_title{
        font-size: 40px;
        padding-block-end: 40px;
    }
    .reasons{
        inline-size: 80%;
        margin-block: 20px;
        margin-inline: 20px;
        padding-block: 80px;
        padding-inline: 80px;
    }
    .reasons__middle{
        margin-inline-start: 19%;
    }
    .reasons_description{
        padding-block-end: 70px;
    }
}
  

/* FEEDBACK FROM CLIENTS*/

.feedback__container{
    margin-block: 38px;
    margin-inline: 36px;
}
.feedback__title{
    position: relative;
    padding-inline: 20px;
    color: var(--main_color);
    text-align: center;
    margin-block-end: 40px;

}
.feedback__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block: 40px;
    gap:10px;
  
}
.feedback__items::before{
    content: '';
    top:16px;
    left: 10%;
    width: 80%;
    border: 1px solid gray;
    margin-bottom: 5px;
    position: absolute;
}
.feedback__items {
    position: relative;
    flex: 1 1 30%;
    background-color: white;
    padding-inline: 12px;
    padding-block: 26px;
    min-height: 90px;
}
.feedback__items h6{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}
.feedback__items span{
    color: var(--main-text);
}
.feedback__items_active{
    background-color: var(--main_color);
    border-radius: 8px;
    color: var(--alternative-text);
}
.comment {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: -0.045em;
    color: var(--main_color);
    min-height: 200px;

}
.feedback__text {
    padding-bottom: 50px;
    padding-inline-end: 5px;
}
.feedback_author {
    display: flex;
   align-items: center;
   padding-inline: 10px;
   
}
.author__icon {
    border-radius: 16px;
    width: 46px;
    height: 48px;
}
.author__name {
    padding-left: 35px;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: -0.045em;
}

@media(min-width:799px){
    .feedback__body{
        display: flex;
        flex-direction: row;
        gap: 28px;
    }
    .feedback__item{
        flex-direction: column;
        flex-basis: 50%;
        margin-block: 0;
    }
    .feedback__comment{
        flex-basis: 50%;
        border-left: 1px solid #000;
        padding-inline:28px;
    }
    .feedback__title{
        padding-inline: 0;
        margin-block-end: 120px;
    }
    .feedback__container{
        margin: 100px;
    }
    .feedback__items {
        padding-inline: 20px;
        padding-block: 30px;
        min-height: 128px;
    }
    .feedback_title::before{
        content: '';
        position: absolute;
        top:-10px;
        left: 45%;
        border: 2px solid #D9D9D9;
        width: 10%;
    }
}
@media(min-width:1280px){
      .feedback__container{
        margin-block: 100px;
        margin-inline: 50px;
    }
     .feedback__body{
        gap: 100px;
    }
     .feedback__item{
        flex-basis: 28.7%;
    }
       .feedback__comment{
        flex-basis: 71.3%;
    }
}

.background img{
        width: 100%;
}

/* Benefits Section*/
.benefits__container{
    padding-block: 80px;
    padding-inline: 16px;
}
.benefits__title {
   text-align: start;
   padding-bottom: 32px;
  
}
.benefits__description {
    padding-bottom: 80px;
}
/*.benefits__wrapper::before{
    content: '';
    top: 0px;
    left: 0px;
    border: 1px solid gray;
    width: 100%;
}*/
.benefits__wrapper{
   border-top: 1px solid #000;
}
.benefits__items {
      padding-block: 20px;
}
.community__title {
      font-size: 30px;
    line-height: 1.05;
    padding-block: 30px;
}
.community__subtitle {
    font-size: 16px;
    line-height: 1.1;
}
.community__description {
    padding-top: 30px;
}
.description{
    font-size: 16px;
    line-height: 1.1;
}
@media (min-width:799px){
    .benefits__header{
        display: flex;
        flex-direction: row;
        gap:50px;
        padding-block-end: 100px;
    }
    .benefits__title{
        flex-basis: 50%;
    }
    .benefits__description{
        flex-basis: 50%;
    }
    .benefits__container{
        padding-inline: 40px;
    }
}
@media (min-width:1280px){
    .benefits__item{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .benefits__wrapper{
        flex: 1 1 33%;
        border-left: 1px solid #000;
        border-top: 0px solid #000;
        padding-left: 50.8px;
    }
       .benefits__header{
        padding-block-end: 160px;
    }
}

/*CTA section*/
.cta__container {
    padding-block: 50px;
    padding-inline: 40px;
}
.imageCta{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.cta__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-top: 20px;
    padding: 60px;
    background-color: var(--main_color);
    border-radius: 20px;
}
.cta__title {
     color: var(--alternative-text);
}
.cta__description {
     color: var(--alternative-text);
     padding-block: 20px;
}
@media(min-width:799px){
    .cta__container{
        display: flex;
        flex-direction: row-reverse;
        gap:20px;
        padding-inline: 40px;
    }
    .cta__image{
        flex-basis: 50%;
        
      
    }
    .cta__body{
        flex-basis: 50%;
        margin-top: 0px;
    }
}

/*Expert section*/
.expert__container {
    padding-block: 160px;
    padding-inline: 24px;
}
.titleExpert {
    text-align: center;
}
.expert__button{
    margin-top: 60px;
    text-align: center;
}
@media(min-width:799px){
    .expert__container {
    padding-inline: 80px;
}
}
/*FOOTER SECTION*/
.footer{
    background-color: var(--main_color);
     color: var(--footer-text);
    padding-block-start: 25px;
    padding-inline: 26px;
}
.footer__title{
    font-size: 2rem;
}   
.footer__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-start: 80px;
    gap:10px;
    align-items: center;

}
.footer__button{
    padding: 15px;
    color: var(--main_color);
    border-radius: 25px;
    background-color: var(--alternative-text);
    transition: background-color 0.3s;
}
.footer__button:hover{
    background-color: var(--hero-backgroud);
    color: var(--main_color);
}
.copyright{
    padding-block: 25px;

}
.footer__head{
    padding-block-end: 80px;
}
@media (min-width:799px){
    .footer__head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:80px;
        padding-block-end: 232px;
    }
    .footer__title{
        flex-basis: 50%;
    }
    .footer__menu{
        padding-block-start: 0px;
        flex-basis: 50%;
    }
    .footer__body{
        display: flex;
        flex-direction: row;
        gap:80px;
        justify-content: space-between;
    }
    .footer__description{
        flex-basis: 50%;
    }
    .copyright{
        flex-basis: 50%;
    }
}