body{
    color: #2e4f21;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
    padding-inline: 15px;
    padding-block: 20px;
    background-color: #A0F1BD;
    align-items: center;

}
.title_header{
    font-size: 1.2rem;
}
.menu{
   
}
.menu_services{
    padding-inline-end: 10px;
}
.menu_button{
    padding: 15px;
    background-color: #2e4f21;
    border-radius: 25px;
    color: white;
}
.main_block{
    flex: 1 1 auto;
}
.header_section{
     background-color: #A0F1BD;
    padding-inline: 16px;
    padding-block: 40px;
}
.world_img{
    text-align: center;
    padding-block: 40px;
}
.title_block{

}
.title{
    font-size: 3rem;
    margin-block-end: 16px;
}
.title_subscription{
    font-size: 1.3rem;
    margin-block-end: 40px;
     line-height: 1.2;
}
.services{
    padding-block-start: 120px;
    padding-block-end: 100px;
    text-align: center;
    padding-inline: 16px;

}
.services_title{
    font-size: 3rem;
}
.services_description{
    padding-block-start: 28px;
    padding-block-end: 28px;
    font-size: 1.25rem;
    line-height: 1.2;
}
.reasons{
    margin-inline: 16px;
    margin-block-end: 16px;
    border-radius: 15px;
    padding-inline: 16px;
    padding-block: 40px;
     background-color: #D2F8DC;
}
.reasons_img{
    text-align: center;
    padding-block-end: 70px;
}
.reasons_title{
    font-size: 2.3rem;
    padding-block-end: 24px;
}
.reasons_description{
    font-size: 1.25rem;
    line-height: 1.2;
    padding-block-end: 70px;
}
.reasons_labels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between;
    padding-inline-end: 30px;
}
.reasons_label{
    border-radius: 10px;
    background-color: white;
    padding-inline: 15px;
    padding-block: 15px;
}
.footer{
    background-color: #2E4F21;
     color: #D5E4D0;;
    padding-block: 25px;
    padding-inline: 26px;
}
.footer_title{
    font-size: 2rem;
    padding-block-end: 70px;
}   
.footer_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-end: 70px;
    align-items: center;

}
.footer_button{
    padding: 15px;
    color: #2e4f21;
    border-radius: 25px;
    background-color: white;
}
.footer_description{
}
.copyright{
    padding-block: 25px;

}

/* FEEDBACK FROM CLIENTS*/

.feedback {

}
.feedback__container{
    margin-block: 38px;
    margin-inline: 36px;
}
.feedback_title{
    line-height: 1.05;
    font-size: 40px;
    text-align: center;
    color: #2E4F21;
    align-self: stretch;
}
.feedback__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block: 40px;
  
}
.feedback__items::before{
    content: '';
    top:0;
    left: 0px;
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 5px;
}
.feedback__items {
    flex: 1 1 30%;
    padding-inline: 12px;
    padding-block: 26px;
   
}
.feedback__items h6{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}
.feedback__items span{
    color: #7D9276;
}
.feedback__items_active{
    background-color: #2E4F21;
    border-radius: 18px;
    color: #fff;


}
.comment {
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 1.1;
letter-spacing: -0.045em;
color: #2E4F21;

   
}
.feedback__comment {
    padding-bottom: 50px;
    padding-inline-end: 5px;
}
.feedback_author {
    display: flex;
   align-items: center;
   padding-inline: 10px;
   
}
.author__icon {
    border-radius: 16px;
    width: 46px;
    height: 48px;
}
.author__name {
    padding-left: 35px;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: -0.045em;
}