:root{
    --main_color: #2E4F21;
    --second-backgroud: #d2f8dc;
    --hero-backgroud: #a0f1bd;
    --alternative-text: #fff;
    --footer-text: #D5E4D0;
    --main-text: #7D9276;
}
body{
    color: var(--main_color);
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
    padding-inline: 15px;
    padding-block: 20px;
    background-color: var(--hero-backgroud);
    align-items: center;

}
.title_header{
    font-size: 1.2rem;
}
.menu{
   
}
.menu_services{
    padding-inline-end: 10px;
}
.menu_button{
    padding: 15px;
    background-color: var(--main_color);
    border-radius: 25px;
    color: var(--alternative-text);
}
.main_block{
    flex: 1 1 auto;
}
.header_section{
     background-color: var(--hero-backgroud);
    padding-inline: 16px;
    padding-block: 40px;
}
.world_img{
    text-align: center;
    padding-block: 40px;
}
.title_block{

}
.title{
    font-size: 3rem;
    margin-block-end: 16px;
}
.title_subscription{
    font-size: 1.3rem;
    margin-block-end: 40px;
     line-height: 1.2;
}
.services{
    padding-block-start: 120px;
    padding-block-end: 100px;
    text-align: center;
    padding-inline: 16px;

}
.services_title{
    font-size: 3rem;
}
.services_description{
    padding-block-start: 28px;
    padding-block-end: 28px;
    font-size: 1.25rem;
    line-height: 1.2;
}
.reasons{
    margin-inline: 16px;
    margin-block-end: 16px;
    border-radius: 15px;
    padding-inline: 16px;
    padding-block: 40px;
     background-color: var(--second-backgroud);
}
.reasons_img{
    text-align: center;
    padding-block-end: 70px;
}
.reasons_title{
    font-size: 2.3rem;
    padding-block-end: 24px;
}
.reasons_description{
    font-size: 1.25rem;
    line-height: 1.2;
    padding-block-end: 70px;
}
.reasons_labels{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: space-between;
    padding-inline-end: 30px;
}
.reasons_label{
    flex: 1 1 33.333%;
    text-align: center;
    border-radius: 8px;
    background-color: var(--alternative-text);
    padding-inline: 10px;
    padding-block: 10px;
    font-size: 12px;
}
.footer{
    background-color: var(--main_color);
     color: var(--footer-text);
    padding-block: 25px;
    padding-inline: 26px;
}
.footer_title{
    font-size: 2rem;
    padding-block-end: 70px;
}   
.footer_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-end: 70px;
    align-items: center;

}
.footer_button{
    padding: 15px;
    color: var(--main_color);
    border-radius: 25px;
    background-color: var(--alternative-text);
}
.footer_description{
}
.copyright{
    padding-block: 25px;

}

/* FEEDBACK FROM CLIENTS*/

.feedback {

}
.feedback__container{
    margin-block: 38px;
    margin-inline: 36px;
}
.feedback_title{
    padding-inline: 20px;
     color: var(--main_color);
     text-align: center;
}
.title{
    line-height: 1.05;
    font-size: 40px;
   
}
.feedback__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block: 40px;
  
}
.feedback__items::before{
    content: '';
    top:0px;
    left: 0px;
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 5px;
}
.feedback__items {
    flex: 1 1 30%;
    padding-inline: 12px;
    padding-block: 26px;
   
}
.feedback__items h6{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}
.feedback__items span{
    color: var(--main-text);
}
.feedback__items_active{
    background-color: var(--main_color);
    border-radius: 18px;
    color: var(--alternative-text);


}
.comment {
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 1.1;
letter-spacing: -0.045em;
color: var(--main_color);

   
}
.feedback__comment {
    padding-bottom: 50px;
    padding-inline-end: 5px;
}
.feedback_author {
    display: flex;
   align-items: center;
   padding-inline: 10px;
   
}
.author__icon {
    border-radius: 16px;
    width: 46px;
    height: 48px;
}
.author__name {
    padding-left: 35px;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: -0.045em;
}

.background img{
        width: 100%;
}

/* Benefits Section*/
.benefits {
}
.benefits__container{
    padding-block: 80px;
    padding-inline: 16px;
}
.benefits__title {
   text-align: start;
   padding-bottom: 32px;
  
}
.benefits__description {
    padding-bottom: 80px;
}
.subscribe {
}
.benefits__wrapper::before{
    content: '';
    top: 0px;
    left: 0px;
    border: 1px solid gray;
    width: 100%;
}
.benefits__wrapper{
  

}
.benefits__items {
      padding-block: 20px;
}
.community {
}
.community__title {
      font-size: 30px;
    line-height: 1.05;
    padding-block: 30px;
}
.community__subtitle {
    font-size: 16px;
    line-height: 1.1;
}
.community__description {
    padding-top: 30px;
}
.description{
    font-size: 16px;
    line-height: 1.1;
}

/*CTA section*/
.cta {
}
.cta__container {
    padding-block: 50px;
    padding-inline: 40px;
}
.imageCta{
    width: 100%;
    height: 100%;
    display: block;
}
.cta__body {
    margin-top: 20px;
    padding: 60px;
    background-color: var(--main_color);
    border-radius: 20px;
}
.cta__title {
     color: var(--alternative-text);
}
.title {
   
}
.cta__description {
     color: var(--alternative-text);
     padding-block: 20px;
}

/*Expert section*/
.expert__container {
    padding-block: 160px;
    padding-inline: 24px;
}
.titleExpert {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.05;
    text-align: center;
    letter-spacing: -0.07em;
}
.expert__button{
    margin-top: 60px;
    text-align: center;
}